@{
    ViewData["Title"] = "Anexar Imagem";
}

<main class="container">
    <h1>Cadastrado! :)</h1>
    <p>Por último, anexe uma imagem do produto ou serviço (opcional)</p>
    <a class="btn btn-danger" href="https://forms.gle/hm7PEvF1FLUWiak8A" target="_blank">Clique aqui</a>
    <p>Seu produto ou serviço será avaliado antes de aparecer no site</p>
</main>