@{
    ViewData["Title"] = "Anexo do Comprovante";
}

<main class="container">
    <h1>Primeira parte concluída!</h1>
    <p>Por último, anexe o seu comprovante de residência clicando nesse link abaixo:</p>
    <a class="btn btn-danger" href="https://forms.gle/Csdh6iZysKpKyFi39" target="_blank">Clique aqui</a>
</main>