@{
    ViewData["Title"] = "Home Page";
}

<link href="style-header-footer.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/header.css">
<link rel="stylesheet" href="~/css/index.css">

<section id="secao1">
    <main class="box-1">
        <div class="logoDestaque">
            <img src="~/css/img/imgDestaque.jpg" alt="imagem destaque da logo" />
        </div>
        <div>
            <h1 class="sobrenos">Nada mais forte do que uma mulher que se empodera!<br> Seja uma "EmpoDelas"</h1>
            <hr>
        </div>
      
        <section id="secao2" class="container-fluid">
            <div id="boxDepoimento" >
                <div id="tituloDepo">
                    <h1>Como funciona?</h1>
                </div>
                <div id="textoDepo">
                    <p>
                        Criamos o site "EmpoDelas" com o intuito de gerar uma rede de apoio entre as mulheres do bairro de Três Carneiros, Ibura - Recife/PE (empreendedoras ou não), para que elas possam divulgar seus produtos e serviços, facilitando a movimentação do comércio e  gerando novas oportunidades para outras mulheres que estão sem fonte de renda no momento atual.
                    </p>
                </div>
            </div>
        </section>

        <div class="imgSecao">
            <img src="../css/img/trescarneirosvistodecima.jpg" alt="Três Carneiros visto de cima - Fonte: Internet" />
            <div class="textoImg">
                <p><strong>Uma comunidade, mulheres empoderadas, EmpoDelas!</strong></p>    
            </div>
        </div>
        
        <div id="MainCadastrar">
            <div id="fraseMain" class="container-fluid">
                <h3 class="textoConvite">GOSTARIA DE PARTICIPAR DESSE PROJETO? FAÇA O PRÉ-CADASTRO</h3>
                <button type="button" class="btn btn-danger"><a  asp-area="" asp-controller="Autonomas" asp-action="Create">Autônoma</a></button>
                <button type="button" class="btn btn-danger"><a asp-area="" asp-controller="Afiliadas" asp-action="Create">Afiliada</a></button>
            </div>
            
        </div>
    </main>
</section>