@{
    ViewData["Title"] = "Home Page";
}

<link href="style-header-footer.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/header.css">
<link rel="stylesheet" href="~/css/index.css">

<section id="secao1">
    <main class="box-1">
        <div class="logoDestaque">
            <img src="~/css/img/imgDestaque.jpg" alt="imagem destaque da logo" />
        </div>
        <div class="banner_home">
            <img src="~/css/img/banner_empodelas_home.png" />
        </div>

       
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <p class="lead">Feito para as mulheres de:</p>
                <h1 class="ibura">Ibura - Três Carneiros, Recife.</h1>
                 <h3>Como funciona?</h3>
                <p>
                    Criamos o site "EmpoDelas" com o intuito de gerar uma rede de apoio entre as mulheres do bairro de Três Carneiros, Ibura - Recife/PE (empreendedoras ou não), para que elas possam divulgar seus produtos e serviços, facilitando a movimentação do comércio e  gerando novas oportunidades para outras mulheres que estão sem fonte de renda no momento atual.
                </p>
            </div>
           
        </div>
       
               <div id="fraseMain" class="container-fluid">
            <h1 class="sobrenos">Nada mais forte do que uma mulher que se empodera!<br> Seja uma "EmpoDelas"</h1>
            <h3 class="textoConvite"><strong>GOSTARIA DE PARTICIPAR DESSE PROJETO? FAÇA O PRÉ-CADASTRO!</strong></h3>
            <button type="button" id="bt1" class="btn btn-danger"><a asp-area="" asp-controller="Autonomas" asp-action="Create">Autônoma</a></button>
            <button type="button" id="bt1" class="btn btn-danger"><a asp-area="" asp-controller="Afiliadas" asp-action="Create">Afiliada</a></button>
        </div>
    </main>
</section>