@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Site desenvolvido para o Projeto social Empodelas, focando na atividade do Curso de Programação Full Stack RecodePRO 2021/2022.<br />
    Somos o Squad 5, composto por Ryan Reis, Verônica Quele, Mariana Duarte, Jéssica Santos e Diego Mendes.    
</p>
